:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  background-color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  justify-content: center;
}
.footer{
  margin-top: 80px;
}

#list-id{
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);

  margin: 60px auto;
  max-width: 800px;
}

#categories{
  width: 100px;
}

.search-bar{
  margin-top: 10px;
}


.footer-main-first{
  display: flex;
  justify-content: center;
  gap: 40px;

}

.footer-div{
  padding: 7rem 0;
}

.aligned-items{
  align-items: center !important;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.header-icons{
  display: flex;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-main{
  display: flex;
}

.footer-left{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 800px) {
  .padding-left{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}