.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.buy-section{
    justify-content: center;
    gap: 50px;
}

.card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.content{
    padding: 16px;
}

